@font-face {
    font-family: iconfont;
    src: url("../fonts/iconfont.eot");src: url("../fonts/iconfont.eot#iefix") format("embedded-opentype"),
             url("../fonts/iconfont.woff2") format("woff2"),
             url("../fonts/iconfont.woff") format("woff"),
             url("../fonts/iconfont.ttf") format("truetype");
}

%iconfont-base {
    font-family: "iconfont";
}

@mixin iconfont-base {
    font-family: "iconfont";
}

@function iconfont-char($name){
    $char: "";

    @if $name == add {
        $char:"\ea01";
    }

    @if $name == adv {
        $char:"\ea02";
    }

    @if $name == airplane {
        $char:"\ea03";
    }

    @if $name == arrow-down {
        $char:"\ea04";
    }

    @if $name == arrow-left {
        $char:"\ea05";
    }

    @if $name == arrow-right {
        $char:"\ea06";
    }

    @if $name == audio {
        $char:"\ea07";
    }

    @if $name == avatar {
        $char:"\ea08";
    }

    @if $name == bell {
        $char:"\ea09";
    }

    @if $name == between {
        $char:"\ea0a";
    }

    @if $name == bike {
        $char:"\ea0b";
    }

    @if $name == bus-stop {
        $char:"\ea0c";
    }

    @if $name == bus {
        $char:"\ea0d";
    }

    @if $name == calendar {
        $char:"\ea0e";
    }

    @if $name == car {
        $char:"\ea0f";
    }

    @if $name == check {
        $char:"\ea10";
    }

    @if $name == checked {
        $char:"\ea11";
    }

    @if $name == clock {
        $char:"\ea12";
    }

    @if $name == close {
        $char:"\ea13";
    }

    @if $name == day-add {
        $char:"\ea14";
    }

    @if $name == day-remove {
        $char:"\ea15";
    }

    @if $name == delete {
        $char:"\ea16";
    }

    @if $name == dialog {
        $char:"\ea17";
    }

    @if $name == dm {
        $char:"\ea18";
    }

    @if $name == doc {
        $char:"\ea19";
    }

    @if $name == download {
        $char:"\ea1a";
    }

    @if $name == drop {
        $char:"\ea1b";
    }

    @if $name == duplicate {
        $char:"\ea1c";
    }

    @if $name == earth {
        $char:"\ea1d";
    }

    @if $name == facebook {
        $char:"\ea1e";
    }

    @if $name == global {
        $char:"\ea1f";
    }

    @if $name == hamburger {
        $char:"\ea20";
    }

    @if $name == heart-fill {
        $char:"\ea21";
    }

    @if $name == heart-stroke {
        $char:"\ea22";
    }

    @if $name == heart {
        $char:"\ea23";
    }

    @if $name == home {
        $char:"\ea24";
    }

    @if $name == info-center {
        $char:"\ea25";
    }

    @if $name == info {
        $char:"\ea26";
    }

    @if $name == landing {
        $char:"\ea27";
    }

    @if $name == link-out {
        $char:"\ea28";
    }

    @if $name == link {
        $char:"\ea29";
    }

    @if $name == list {
        $char:"\ea2a";
    }

    @if $name == locate {
        $char:"\ea2b";
    }

    @if $name == location-add {
        $char:"\ea2c";
    }

    @if $name == location-remove {
        $char:"\ea2d";
    }

    @if $name == location {
        $char:"\ea2e";
    }

    @if $name == lock {
        $char:"\ea2f";
    }

    @if $name == logout {
        $char:"\ea30";
    }

    @if $name == magnifier {
        $char:"\ea31";
    }

    @if $name == mail {
        $char:"\ea32";
    }

    @if $name == map {
        $char:"\ea33";
    }

    @if $name == more {
        $char:"\ea34";
    }

    @if $name == navigate {
        $char:"\ea35";
    }

    @if $name == parking {
        $char:"\ea36";
    }

    @if $name == password {
        $char:"\ea37";
    }

    @if $name == pause {
        $char:"\ea38";
    }

    @if $name == pencil {
        $char:"\ea39";
    }

    @if $name == photo {
        $char:"\ea3a";
    }

    @if $name == quest {
        $char:"\ea3b";
    }

    @if $name == reload {
        $char:"\ea3c";
    }

    @if $name == rent {
        $char:"\ea3d";
    }

    @if $name == save {
        $char:"\ea3e";
    }

    @if $name == service {
        $char:"\ea3f";
    }

    @if $name == share {
        $char:"\ea40";
    }

    @if $name == speaker {
        $char:"\ea41";
    }

    @if $name == star {
        $char:"\ea42";
    }

    @if $name == stopwatch {
        $char:"\ea43";
    }

    @if $name == store {
        $char:"\ea44";
    }

    @if $name == take-off {
        $char:"\ea45";
    }

    @if $name == taxi {
        $char:"\ea46";
    }

    @if $name == tel {
        $char:"\ea47";
    }

    @if $name == thumb {
        $char:"\ea48";
    }

    @if $name == toilet {
        $char:"\ea49";
    }

    @if $name == umbrella {
        $char:"\ea4a";
    }

    @if $name == upload {
        $char:"\ea4b";
    }

    @if $name == video {
        $char:"\ea4c";
    }

    @if $name == view {
        $char:"\ea4d";
    }

    @if $name == warn {
        $char:"\ea4e";
    }

    @if $name == wt-01 {
        $char:"\ea4f";
    }

    @if $name == wt-02 {
        $char:"\ea50";
    }

    @if $name == wt-03 {
        $char:"\ea51";
    }

    @if $name == wt-04 {
        $char:"\ea52";
    }

    @if $name == wt-05 {
        $char:"\ea53";
    }

    @if $name == wt-06 {
        $char:"\ea54";
    }

    @if $name == wt-07 {
        $char:"\ea55";
    }

    @if $name == wt-08 {
        $char:"\ea56";
    }

    @if $name == wt-09 {
        $char:"\ea57";
    }

    @if $name == wt-10 {
        $char:"\ea58";
    }

    @if $name == wt-11 {
        $char:"\ea59";
    }

    @if $name == wt-12 {
        $char:"\ea5a";
    }

    @if $name == wt-13 {
        $char:"\ea5b";
    }

    @if $name == wt-14 {
        $char:"\ea5c";
    }

    @if $name == wt-15 {
        $char:"\ea5d";
    }

    @if $name == wt-16 {
        $char:"\ea5e";
    }

    @if $name == wt-17 {
        $char:"\ea5f";
    }

    @if $name == wt-18 {
        $char:"\ea60";
    }

    @if $name == wt-19 {
        $char:"\ea61";
    }

    @if $name == wt-20 {
        $char:"\ea62";
    }

    @if $name == wt-21 {
        $char:"\ea63";
    }

    @if $name == wt-22 {
        $char:"\ea64";
    }

    @if $name == wt-23 {
        $char:"\ea65";
    }

    @if $name == wt-24 {
        $char:"\ea66";
    }

    @if $name == wt-25 {
        $char:"\ea67";
    }

    @if $name == wt-26 {
        $char:"\ea68";
    }

    @if $name == wt-27 {
        $char:"\ea69";
    }

    @if $name == wt-28 {
        $char:"\ea6a";
    }

    @if $name == wt-29 {
        $char:"\ea6b";
    }

    @if $name == wt-30 {
        $char:"\ea6c";
    }

    @if $name == wt-31 {
        $char:"\ea6d";
    }

    @if $name == wt-32 {
        $char:"\ea6e";
    }

    @if $name == wt-33 {
        $char:"\ea6f";
    }

    @if $name == wt-34 {
        $char:"\ea70";
    }

    @if $name == wt-35 {
        $char:"\ea71";
    }

    @if $name == wt-36 {
        $char:"\ea72";
    }

    @if $name == wt-37 {
        $char:"\ea73";
    }

    @if $name == wt-38 {
        $char:"\ea74";
    }

    @if $name == wt-39 {
        $char:"\ea75";
    }

    @if $name == wt-41 {
        $char:"\ea76";
    }

    @if $name == wt-42 {
        $char:"\ea77";
    }

    @return $char;
}